form {

	margin :0px 0px 0px 0px ;
    
}
.loginInputForm{
margin:1%;	
}


.navbar-fixed-top{
	align:center;
}
.nav-collapse{
	   align:center;
	
}



#header{
    position: relative ; 
    height:7%;
    padding:1%;
    border-radius:25px;
    border:1px solid #DDDDDD;

}

#langSelector{
    position:relative;
    float:right;
    margin-top:1%;
    margin-right:1%;
    
    
    }



