      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
		font-size:100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 90%;
        /* Negative indent footer by it's height */
      }
	  
	  p{
	  margin:5px;
	  }
	 .lead{
	 font-size:15px;
	 	 margin:5px;

	 
	 }
	 h2{
	 margin:0px;
	 padding:0px;
	 
	 }
	 .page-header{
	 margin:0px;
	 padding:0px;
	 
	 }
	 
	 /* BUTTONS */
    .helpBtn {
    margin:auto 4% auto auto;
    
    }
	 
    .saveBtn {
    position:relative;
    width:50%;
    left:25%;

	

    }
	  
  /* CUSTOMIZE THE CAROUSEL
    The position is determined by the content at the top of the page .
	
	-------------------------------------------------- */
    /* Carousel base class */
    .carousel {
	float:both;
	margin : 7% 10% 2% auto;
	width:850px;
	
	max-width : 80%;
	
	max-height: auto;
	  
    }

    .carousel .container {
	float:both;
	margin :1% 3% 3% 3%;
	width : 94% ;
	position: relative;
    z-index: 9;
    }
    
    
	/* kontrolki next  i prev */
	
    .carousel-control {
      height: 80px;
      margin: 0 -10% auto -10%;
      font-size: 120px;
	  color:black;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;

    }
	
	.carousel .carousel-indicators{
	width:45%;
	margin-right:55%;
	height:5%;
	z-index:10;
	top:-10%;
	}
	.carousel .carousel-indicators li{
	width:auto;
	margin:auto 2% auto 2%;
	height:100%;
	text-indent:0px; /* normaly -999 */
	text-align:center;
	
	}
    .carousel .item {

      height: auto;
    border:1px solid black;
    border-radius:50px ; /* zaokraglone rogi tutaj i nizej */

    }
    
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:  100%;		/* wsadzic  takie same jak wyzej dla itema bo to bg jest ... */
     border-radius:50px ;
      
    }


	/* inside carousel */
		
	.carousel h1{	/* needed to display popover outside carousel distrupts slideing animation */
	margin-top:5px;
	}	
	.carousel-inner{	/* needed to display popover outside carousel distrupts sliding animation */
    height:100%
}
	
	.carousel .btn-primary{
 
}

	
	
	.carousel textarea {
	margin: 2% 10% 2% 10%;
	width:80%;
	opacity:0.90;
	font-family:"Times New Roman", Times, serif;
	font-size:1.5em;
	font-weight:bolder;
	
	}
	.popover-title{	/* wielkosc popoverow */
	min-width:150px;
	}

	  
	  
	  
	  
	  
	  
    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 900) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;

      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {

        height: 100%;;
      }
      .carousel img {
        width: auto;
        height: 100%;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    


      /* Set the fixed height of the footer here */
      #push,
      #footer {
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 1000px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 80px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
      
      
      
      
      
      
      
      
      
/************************      
************************      
        MENU CSS (slider )
************************
************************/

 #slideMenu {
    position: fixed;                /* fix the popout to the left side of the screen */
    top:15%;
    right: 5%;                    /* use a negative margin to pull the icon area of the popout off the edge of the page */
    width: 25%;
    z-index:1;
    /*background-color:silver;*/

}
#triggerMenu {                          /* create a clickable area that triggers the slide in/out effect */
    width:20%;
    cursor: pointer;   
    padding-top:10px;
    float:left;
}
#triggerMenu i{
	float:right;
}
/* Some additional CSS to look nice */ 
#triggerMenu  {                      /* rotate the 'show' text 90 degrees. If you are using an incon you won't need this bit */
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#slideMenuContent{
	width:75%;
	height:100px;
	float:right;
}
.opacityFull, .accordion-inner {
	opacity:1;
	background-color: rgba(255, 255, 255, 1);
	border-radius:15px;
}
.opacityHalf{
    opacity:1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:15px;
}
.accordion-group{
	border : 0px;
}
.accordion-inner:hover {
	background-color: #f4f4f4;	
}
.accordion-heading:hover{
	background-color: #f4f4f4;
}



/************************      
************************      
        growsDiv
************************
************************/

.growsDiv{
	width:70%;
	margin-left:10%;
	margin-bottom:4%;
	
}

.singleGrowDiv{
	width:18%;
	margin-left:2%;
	
}
.growIDLoadSpan{
	min-width:50px;
	font-weight:900;

}
.lgpBtn{
/*  width work in grows.jsp ... no idea... */

}




















