

    .main4all{
    
    }

    .item_header{
    
    }
    .frame{
    margin-top:10%;
    max-width:100%;
    max-height:500px;
    }
    .inside_item{
    position:absolute;
    top:0px;
    }
    
    .main4all .item {
    position:relative;  
    top:0px;
    height: 50%;
    width:  66%;
    margin-left:20%;
    margin : 2% auto 2% 17%;
    padding:1%;
/*    border:1px solid black;   */
    border-radius:50px ;  
    float:both;

    }

    
/* BACKGROUNDS 
     #g1{
     background:url('../img/bg1.jpg') ;
     background-size: 100% 100%;
     background-position: center;
    }
     #g2{
     background:url('../img/bg2.jpg');
     background-size: 100% 100%;
     background-position: center;
     }
     #g3{
     background:url('../img/bg3.jpg');
     background-size: 100% 100%;
     background-position: center;
    }
     #g4{
     background:url('../img/bg4.jpg') ;
     background-size: 100% 100%;
     background-position: center;
    }
    
  */  
    
    textarea {
    
    margin: 10% 10% 2% 20%;
    width:55%;
    height:70%;
    opacity:0.90;
    font-family:"Times New Roman", Times, serif;
    font-size:1.5em;
    font-weight:bolder;
    
    }
    
    textarea.comment{
    margin:1%;
    }


    /*  help text overflowing the log4all */
    
    .sidesText{
    position:fixed;
    left:2%;
    margin-top:0%;
    width:15%;
    overflow:hidden;
    }
    
    
    .sideBtns{
    position:fixed;
    right:2%;
    margin-top:2%;
    width:15%;
    overflow:hidden;
    float:right;
    }
    
    #menudiv{
    position:fixed;
    margin-top:-45px;
    opacity:0;
    background-color:white;
    }
    .accordion-inner{
    border-top:0px;
    }
    
    .growNameInput{
    float:right;
    margin-right:30%;
    margin-top:-4%;
    border:0px solid black;
    
    }

    
    
/* GLOBALLY USED CLASSES AND OTHER  */

.error{
    color:#CC0000;
    font-weight:bold;
}
.allOK{
    color:green;
    font-weight:bold;
}
    
    a.btn-help{     
    margin:5px;
    display:table;
}
    
    

    
    
    
    
    