    
    
    /* tooltip / POPOVER  and GRowDescription class */
    
#popHelp{
	position:relative;
   top:155px!important;
	margin:-1150px 0px 0px 0px;
	width:50%;
	max-width:50%;
}


.popHelp .popover-title{
}
    .popHelp .popover-inner{
    position:relative;
    top :0%;
    left:0%;
    margin: 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px; 
}

/* for non logged users */
#popHelpNoLogin{
	position:absolute;
	z-index:12000;
    top:5%!important;
    width:60%;
    max-width:60%;
    overflow:visible;
    left:3%!important;
    margin:0px 0px 0px 0px !important;  
    opacity:0.9;  
}

/* for g to show lower*/
#popHelpNoLoginG{
	top:15%!important;
}
#popHelpNoLogin .popover-content .popover-inner{
    z-index:1200;
    right:10%!important;
}

/* dialog checking */







.popover center{
    font-size:16;
    font-weight:bold;
}
.popover table{
        line-height:125%;
        mar gin-left:5%;
}
.popover td{
	margin-left:5%;
    padding-right:15px;
    padding-left:15px;
    font-weight:bold;
    border-bottom:thin solid black;
}



/* for the main page 4 everybody fixed side btns */
#popHelpMain{
    position:relative;
    width:50%;
    max-width:50%;
}



    