
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	margin: 0!important;
	padding: 0!important;
	font-family: 'Comic Sans';
	font-size: 22px;
	-webkit-text-size-adjust: none;
	font-weight: 300;
}


.page {
	position:relative;
	margin: 0 auto;
	padding: 4% 1% 4% 1%;
	min-width: 192px;
	max-width: 1240px;
	min-height:200px;
	
	
	text-align: center;
}

.page .left{
	position:relative;
	font-family:"Comic Sans";
	font-size:500%;
	padding-top:10%;
	
	min-width:12%;
	max-width:12%;
	float:left;
	
}

.page .middle{
	float:left;
	padding-left:2%;
	min-width:45%;
	max-width:50%;
	
}

.page textarea{
	position:relative;
	display:block;
	width:98%;
	height:200px;
	padding:1%;
	
	opacity:0.90;
	font-family:"Times New Roman", Times, serif;
	font-size:1em;
	font-weight:bolder;
	
}


.page .right{
	float:right;
	max-width:40%;
	font-size:0.75em;
	
}

/*
1)	7AE60C	FF640D	7B10AA		4th	4D9504
3)	9DF246	FF8B4A	A944D4		4th	70AC32
*/

#goal{
	background:#FFFFFF;
	margin-top:80px;

}

#reality{
	background:#7AE60C;

}

#opportunity{
	background:#FF640D;

}

#will{
	background:#7AE60C;

}








/* others */
.clear {
	clear: both;
	visibility: hidden;
}

