

/* ----- topbar ----- */
#topbar {
	top: 0;
	width: 100%;
	height: 80px;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99999;
}

#logo {
	background: url('img/logo_gymradio.png') no-repeat;
	height: 100px;
	position: absolute;
}
#logo-link a {
	display: block;
	padding: 0;
	width: 160px;
	height: 80px;
	text-indent: -9999px;
	margin: 0;
} 
#logo #logo-link {
	margin: 0;
	pading: 0;
	color: #fff;
}
a#menuicon {
	display: none;
}
ul#mobilemenu {
	display: hide;
}
ul#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 175px;
	text-align: right;
	padding-right:5%;
}
ul#menu li {
	margin: 0;
	padding: 0 0 0 32px;
	display: inline-block;
	background: none;
}
ul#menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 80px;
	text-align: right;
}
ul#menu li a:hover {
	color: #ff0f42;
}
a#back {
	display: none;
}

